#headerWrapper{
    height: 230px;
    background-color: #00979C;
}
#headerInner{
    margin-top: 20px;
    height: 100%;
    color: #ffffff;
    font-size: 2em;
}
#viewGit{
    background-color: #00b2b7;
    padding: 5px 10px 10px 5px;
    text-decoration: none;
    font-size: 0.7em;
    color: #ffffff;
    cursor: hand;
}
.footer{
    background-color: #00979C;
}

footer{
    margin-top: 20px;
    font-size: 15px;
    padding: 30px 0 30px 0;
    margin-top: 30px;
    background-color: #00979C;
    color: #ffffff;
}

footer a{
    color: #f3f3f3;
}

h3{
    color:#E67E22;
}